{% extends 'base.html.twig' %}

{% block body %}
    L'entreprise a bien été sélectionnée.
    <ul>
        <li>Raison sociale : {{ company.name }}</li>
        <li>Siren : {{ company.siren }}</li>
        <li>Siret : {{ company.siege.siret }}</li>
        <li>Adresse : {{ company.siege.address }}</li>
    </ul>
    <a href="{{ path(constant('App\\Controller\\Company\\SearchController::ROUTE_NAME')) }}"><button>Retour à la rechercher</button></a>
    <a href="{{ path(constant('App\\Controller\\Company\\SalaryController::ROUTE_NAME')) }}"><button>Calculer un salaire</button></a>
{% endblock %}